{{define "index_picture"}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/modernizr.js"></script>
    <ul class="cd-items cd-container">
        <li class="cd-item">
            <img src="/static/img/g.png" alt="Item Preview">
            <a href="#0" class="cd-trigger">预  览</a>
        </li>
    </ul>
    <div class="cd-quick-view">
        <div class="cd-slider-wrapper">
            <ul class="cd-slider">
                <li class="selected"><img src="/static/img/g.png" alt="Product 1"></li>
            </ul>
            <ul class="cd-slider-navigation">
            </ul>
        </div>

        <div class="cd-item-info">
            <h2>新鲜 小黄瓜 迷你黄瓜 水果黄瓜 荷兰黄瓜500g</h2>
            <p>叶柄稍粗糙，有糙硬毛，长10-16(-20)厘米；叶片宽卵状心形，膜质，长、宽均7-20厘米，两面甚粗糙，被糙硬毛，3-5个角或浅裂，裂片三角形，有齿，有时边缘有缘毛，先端急尖或渐尖，基部弯缺半圆形，宽2-3厘米，深2-2.5厘米，有时基部向后靠合。</p>
            <ul class="cd-item-action">
            </ul>
        </div>
    </div>
    <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="/static/js/velocity.min.js"></script>
    <script src="/static/js/main.js"></script>

{{end}}




